/* Global Rules */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 20px;
  --main-color: #0d0d0d;
  --secondary-color: #0071ae;
  --white: #fff;
  --light-gray: #eee;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}

body {
  font-family: "Dosis", sans-serif;
  background-color: var(--white);
}

ul {
  list-style: none;
}

i {
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.home_heading {
  width: fit-content;
  font-size: 30px;
  margin: 60px 0 30px;
  border-bottom: 2px solid var(--secondary-color);
  padding: 10px 0;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  border: 1px solid var(--main-color);
}

.btn:hover {
  background-color: #fff;
  color: var(--main-color);
}

.fa-times {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition-delay: 1s;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.products_container {
  margin: 90px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

@media (max-width: 320px) {
  .products_container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}

.error {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

/* if empty cart or wish list */
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

.empty i {
  font-size: 70px;
  color: #ccc;
  margin-bottom: 30px;
}

.empty h2 {
  color: #ccc;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: var(--white);
  color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--secondary-color);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  font-weight: bold;
}
